// Colors
$dark-text: #30333C;
$medium-text: #70737C;
$white-text: #FFF;
$blue-text: #6F88B1;
$error-red: #E36464;
$dark-bg: #30333C;
$blue-bg: #A7C0E8;

// Fonts
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Quicksand', sans-serif;

// Font weight
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;